/* GENERAL */
body {
    background: #532b80;
    margin: 0;
    font-family: "Segoe UI", Arial;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 22px 0;
    gap: 80px;
    width: 90%;
    margin: 25px auto;
    border-radius: 22px;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.18);
}

.nav-item {
    color: #000;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding-bottom: 6px;
    transition: 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    background: #000;
    transition: 0.3s ease;
}

.nav-item:hover::after,
.nav-item.active::after {
    width: 100%;
    left: 0;
}

/* CONTENIDO PRINCIPAL */
.contenido {
    display: flex;
    width: 90%;
    height: 75vh;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

/* SIDEBAR IZQUIERDO */
.sidebar {
    width: 25%;
    background: #f5f5f5;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 20px;
}

.grupo-item {
    background: white;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.3s;
}

.grupo-item:hover {
    border-color: #532b80;
}

.grupo-item.active {
    border-color: #532b80;
}

/* PANEL DERECHO */
.panel {
    width: 75%;
    padding: 25px;
    overflow-y: auto;
}

.titulo-panel {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* MATERIAS */
.materia-item {
    background: #e8e8e8;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

.materia-item:hover {
    background: #d6d6d6;
}

/* ASISTENCIAS */
.asistencia-item {
    background: #f4f4f4;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 6px 12px;
    background: #532b80;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
