body {
    margin: 0;
    background-image: url("../images/fondoWeb.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Segoe UI", Arial, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    gap: 50px;

    width: 90%;
    margin: 20px auto 0 auto;
    padding: 15px 25px;

    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.nav-item {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: relative;
}

.nav-item.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.btn-logout {
    margin-left: auto;
    background: #ff4d4d;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Contenedor */
.contenedor {
    flex: 1;
    width: 90%;
    margin: 40px auto;
    color: white;
}

.titulo {
    font-size: 45px;
    font-weight: bold;
}

.subtitulo {
    font-size: 18px;
    margin-bottom: 25px;
}

/* TABLA */
.tabla-horario {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255,255,255,0.85);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.tabla-horario th {
    background: #532b80;
    color: white;
    padding: 14px;
    font-size: 17px;
}

.tabla-horario td {
    padding: 14px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabla-horario tr:hover {
    background: rgba(255,255,255,0.7);
}

.mensaje-vacio {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* Footer */
.footer {
    background: rgba(0,0,0,0.65);
    padding: 15px;
    text-align: center;
    color: white;
}
