* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY COMO CONTENEDOR FLEX */
body {
    background: #532b80;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ============================
   NAVBAR MODERNO (SUPER PRO)
============================ */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 18px 0;
    gap: 80px;
    width: 85%;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.15);
}

.nav-item {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding-bottom: 6px;
    transition: 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    background: #000;
    transition: 0.3s ease;
}

.nav-item.active::after,
.nav-item:hover::after {
    width: 100%;
    left: 0;
}





/* CONTENIDO QUE OCUPA TODO EL ESPACIO */
.content {
    flex: 1;
    padding: 40px;
    color: white;
}


.titulo {
    font-size: 32px;
    margin-bottom: 25px;
}

/* TARJETAS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: #333;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card .fecha {
    font-size: 14px;
    color: #666;
}

.footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    margin-top: 40px;
}

