* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #eaeaea;
    padding: 15px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 8px;
}

.navbar a:hover,
.navbar .active {
    background: #c9c9c9;
}

/* CONTENIDO */
.content {
    background: #552b7f;
    min-height: calc(100vh - 150px);
    padding: 40px;
    color: white;
}

.titulo {
    font-size: 32px;
    margin-bottom: 25px;
}

/* TARJETAS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: #333;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card .fecha {
    font-size: 14px;
    color: #666;
}

/* FOOTER */
.footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 18px;
    margin-top: 0;
    font-size: 14px;
}
