/* ================================
        FUENTES Y RESET
================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;

    /* Fondo global de SIEMPRE */
    background-image: url("../images/fondoWeb.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ================================
        CONTENEDOR PRINCIPAL
================================= */
.container {
    width: 950px;
    height: 540px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;

    /* efecto glass */
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);

    box-shadow: 0 12px 40px rgba(0,0,0,0.35);
}

/* ================================
        PANEL IZQUIERDO
================================= */
.left {
    width: 50%;
    padding: 45px;
    background: rgba(84, 30, 138, 0.8);
    color: white;

    display: flex;
    flex-direction: column;
}

.left h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
}

.ilustracion {
    margin-top: auto;
    width: 90%;
}

/* ================================
        PANEL DERECHO
================================= */
.right {
    width: 50%;
    background: white;
    padding: 40px;
    text-align: center;
}

.right h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

/* Avatar */
.avatar img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 25px;
}

/* Inputs */
.input {
    width: 85%;
    padding: 13px;
    font-size: 16px;

    margin-bottom: 18px;

    border: 2px solid #ddd;
    border-radius: 10px;

    background: #eaf0ff;
    color: #333;
}

.input:focus {
    border-color: #532b80;
    background: white;
}

.error {
    border: 2px solid red !important;
    background: #ffd6d6 !important;
}

/* Botón */
.btn-login {
    width: 85%;
    padding: 14px;
    font-size: 17px;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: #532b80;
    color: white;
    font-weight: 700;

    transition: .25s;
}

.btn-login:hover {
    background: #3e226b;
    transform: scale(1.03);
}

/* Olvidaste contraseña */
.forgot {
    font-size: 14px;
    margin-bottom: 12px;
    cursor: pointer;
    color: gray;
}

.forgot:hover {
    color: black;
}
